<aside id="sidebar" class="d-flex flex-column"> 
    <div class="d-flex">
        <button class="toggle-btn" type="button">
            <i class="bi bi-list"></i>
        </button>
        <div class="sidebar-logo">
            <a href="{% url 'home_audit' %}"></a>
        </div>
    </div>

    <ul class="sidebar-nav d-flex flex-column flex-grow-1"> 
        <li class="sidebar-item">
            <a href="{% url 'home_audit' %}" class="sidebar-link">
                <i class="bi bi-house"></i>
                <span><strong>Início</strong></span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="{% url 'attachment_list_audit' %}" class="sidebar-link">
                <i class="bi bi-file-earmark-text"></i>
                <span><strong>Anexos</strong></span>
            </a>
        </li>

        <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
               data-bs-target="#admin" aria-expanded="false" aria-controls="admin">
                <i class="bi bi-person-lock"></i>
                <span><strong>Administração</strong></span>
            </a>
            <ul id="admin" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a href="{% url 'audit_list_audit' %}" class="sidebar-link">Auditoria</a>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'email_list_audit' %}" class="sidebar-link">Email</a>
                </li>
            </ul>
        </li>

        <li class="sidebar-item mt-auto"> 
            <a href="{% url 'oidc_logout' %}" class="sidebar-link">
                <i class="bi bi-box-arrow-left"></i>
                <span><strong>Sair</strong></span>
            </a>
        </li>
    </ul>
</aside>
